<h3 class="text-center py-3">Compruebe su correo electronico, se envío un código de verificación de 6 digitos</h3>

<form id="verifyCodeForm" [formGroup]="verifyCodeForm" (ngSubmit)="attemptVerifyCode($event)">
  <div class="mb-5 md:mb-4">
    <label for="code" class="text-sm md:text-sm text-black block mb-1.5 md:mb-1">Codigo:</label>
    <input id="code" name="code" type="text"
      class="w-full px-3.5 md:px-3 py-2.5 md:py-2 text-sm md:text-sm border rounded-md focus:ring-2 focus:ring-black focus:outline-none"
      formControlName="resetCode" required
      [ngClass]="verifyCodeForm.get('resetCode')?.invalid && verifyCodeForm.get('resetCode')?.touched ? 'border-red-600 focus:ring-red-600' : 'border-gray-400 focus:ring-black'"
    >
    @if (verifyCodeForm.get('resetCode')?.hasError('required') && verifyCodeForm.get('resetCode')?.touched) {
      <small class="text-red-600">Este campo es obligatorio</small>
    }
    
  </div>

  @if (authError()) {
    <div class="text-center mb-3">
      <span class="text-red-600 text-sm"> {{authErrorMessage()}} </span>
    </div>
  }

  <button type="submit" [disabled]="verifyCodeForm.invalid || isLoading()" class="w-full border-1 mb-5 md:mb-4 cursor-pointer border-black bg-main-blue hover:bg-blue-600 disabled:bg-gray-400 disabled:border-gray-400 disabled:text-gray-600 disabled:cursor-not-allowed disabled:opacity-60 text-white text-sm md:text-sm py-2.5 md:py-2 rounded-xl transition">
    {{ isLoading() ? 'Cargando...' : 'Enviar' }}
  </button>


</form>

<button type="submit" (click)="resendCode()"
    class="w-full border-1 mb-5 md:mb-4 cursor-pointer border-black bg-main-yelllow hover:bg-yellow-500 text-black text-sm md:text-sm py-2.5 md:py-2 rounded-xl transition">Reenviar
    codigo
  </button>