PORT=3002

# Database
DB_HOST=hostname
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_PORT=1234

JWT_SECRET=secretkey

SERVER_PROD=false

# CORS Configuration
FRONTEND_URL=url_to_your_frontend
CORS_ORIGINS=http://localhost:4200,http://

#Mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=x@gmail.com
SMTP_PASS=xxxxxx   #For Gmail: create an App Password
FROM_NAME=Jobby Support
FROM_EMAIL=y@gmail.com

#Supabase
SUPABASE_KEY=your_supabase_key
SUPABASE_URL=https://your-project-ref.com