PORT=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

JWT_SECRET=

SERVER_PROD=

#Mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=x@gmail.com
SMTP_PASS=xxxxxx   #For Gmail: create an App Password
FROM_NAME=Jobby Support
FROM_EMAIL=y@gmail.com